body{
  width: 600px;
  margin: 0 auto 0;
  background-color: #9ade9a;
  text-align: center;
}

p{
  color: white;
  /* text-align: center; */
  padding-left: 20px;
  margin-top: 0;
}

h1{
  color: white;
}

.sns ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.flag ul{
  list-style-type: none;
  margin: 0;
}

li{
  display: inline-block;
}

.about{
  display: inline-block:
}

.sns{
  width: 600px;
  border-bottom: 6px solid white;
  margin: 0 auto 0;
  padding: 20px 0 20px;
}

.sns li{
  padding: 20px 20px;
}

/* table{
  width: 600px;
  height: 600px;
	border-collapse: collapse;
  margin: 0 auto 0 ;
}

td {
	border-top: 3px solid white;
	padding: 0.5em;
  text-align: center;
}

.test{
  border-right: 3px solid white;
  height: 30px;
  width: 180px;
} */

.flag{
  width: 600px;
  text-align: left;
  margin: 0 auto 60px;
  border-top: 6px solid white;
  border-bottom: 6px solid white;
  padding: 10px 0 5px;
}

.myself{
  border-top: 2px solid white;
  width: 550px;
  margin: 0 auto 0;
  text-align: left;
}

h2{
  color: white;
  font-size: 25px;
}

.last{
  text-align: right;
  padding-right: 20px;
  margin: 0;
  padding: 0 0 5px;
}


.rogo {
  text-align: center;
  padding-bottom:30px;
  color: gray;
}
